body {
    margin: 10px;
    padding: 50px;
    background-color: rgba(128, 128, 128, 0.267);
}


div {
    border: 3px solid rgba(0, 0, 0, 0.082);
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px rgba(22, 21, 21, 0.205);
    margin: 10px 20px 20px 10px auto;
    padding: 30px;
    background-color: rgba(212, 151, 151, 0.267);
}


h1 {
    color: rgba(199, 30, 67, 0.877);
    border: 3px solid rgba(173, 68, 68, 0.24);
    border-radius: 250px;
    text-align: center;
    margin: 15px auto;
    padding: 0;
    width: 200px;
    box-shadow: 0px 5px 2px 0px rgba(211, 62, 62, 0.301);
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
    width: 250px;
    padding: 10px;
    list-style: none;
}

ul li {
    border: 1px solid rgba(41, 219, 210, 0.445);
    border-radius: 17px;
    padding: 10px;
    font-weight: bold;
    color: rgba(216, 31, 139, 0.562);
    background-color: rgba(81, 226, 44, 0.308);
}

ul a {
    text-decoration: none;
}

h2 {
    border: 3px solid rgba(255, 0, 0, 0.623);
    border-radius: 19px;
    margin: 5px auto;
    padding: 10px;
    width: 60px;
    color: rgba(230, 0, 0, 0.616);
    background-color: rgba(238, 235, 56, 0.493);
}

span {
    background-color: rgba(219, 94, 94, 0.404);
    margin: 60px 70px auto;
    /* width: 350px; */
    padding: 3px;
    border: 3px solid rgb(189, 12, 12);
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 7px 7px 0px rgba(255, 0, 0, 0.397);
}

p {
    color: white;
    margin: 0;
    padding: 8px;
}